.Popular__heading{
    @apply w-[100%] text-center 
}
.upper__heading{
    @apply font-bold text-gray-400
}
.upcoming{
    @apply font-bold text-2xl
}

.video__section{
    background-image: url('../images/y14.jpg');
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.9) 30%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.9) 30%);
    position: relative;
    /* opacity: 0.7; */
     z-index: -1; 

     @apply  w-[100%] bg-center bg-cover  h-[30vh]  p-40 
}
.video__header{
    z-index: 1;
@apply text-center   text-4xl font-bold mt-10 text-white
}
.video__para{
    @apply text-white text-center   mt-6
}
.play__btn{
    border-radius: 50%;
    border: 2px solid rgb(254, 75, 105);
    @apply w-[40px] h-[40px] bg-black text-pink-600  justify-center flex m-auto  mt-6 text-xl p-2
}

@media(max-width:900px){
    .video__section{
       
         @apply  p-16 h-[100%]
    }
    .video__header{
        @apply text-xl 
    }
    .video__para{
        @apply text-white text-center mt-0
    }

}